# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.decl.h
*.def.h

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
stacs
charmrun

# Configuration
*.yml
*.model
*.graph

# Graph Files
*.dist*
*.metis*
*.coord.*
*.adjcy.*
*.state.*
*.event.*
*.part.*

# Record Files
*.evtlog.*
*.record.*

# PNG Files
*.png.*
*.pngmap.*

# Temporary Files
*.swp
.DS_Store
