npdat: 4 # 4 data files
npnet: 8 # 8 network partitions

filebase: "polynet"
filemod: ".out"
filedir: "polynet"
recdir: "record"
pngdir: "png"

rngseed:  2032
tmax:   180000  # 3 minutes
tstep:       1  # 1 millisecond
tqueue:     20  # 20 milliseconds
tcheck:  60000  # 1 minute
trecord:  1000  # 1 second
tdisplay: 1000  # 1 second

runmode: "png"
plasticity: on
rpcportname: "/stacs/rpc"
startpaused: no

pngactive:
  - izhiex
  - izhiin
pngmother:
  - izhiex
pnganchor:
  - exstdp
comprtmin: 0
comprtmax: 7
